{% extends "base.html" %}
{% block content %}

  <div class="container mt-5 pt-4">
      <div class="col-6 mx-auto">
        <h3 class="test-center">Enter OTP sent to your number {{message}}</h3>
        <form>
          <div class="row">
            <div class="form-group col-12">
              <input type="text" placeholder="Enter OTP" class="form-control" id="otp" name="otp">

            </div>

          </div>
          <p>Don't have account <a href="{% url 'register' %}">Register</a></p>
          <button type="button" name="button" class="btn btn-primary">Submit</button>
        </form>

      </div>

  </div>

{% endblock %}
