{% extends 'user_nav.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
  alert('Password Changed Successfully');
  window.location=('{% url 'Logout' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
  alert('Invalid Login Credential, Please try Again');
</script>
{% endifequal %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <img src="{% static 'images/changepwd.jpg' %}" alt="">

    </div>
    <div class="col-sm-6">
      <h2 class="text-center" style="font-weight:bold">Change Password</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
        <label>Old Password :-</label>
          <input type="password" class="form-control" placeholder="Enter Old Password" name="old">
        <label>New Password :-</label>
          <input type="password" class="form-control" placeholder="Enter Password" name="new">
        <label>Confirm Password :-</label>
          <input type="password" class="form-control" placeholder="Enter Confirm Password" name="confirm">

          <input type="submit" class="btn btn-success mt-3" value="Submit">
      </form>

    </div>

  </div>

</div>


{% endblock %}
