{% extends 'navigation.html' %}
  {% load static %}
    {% block body %}

      {% ifequal error "no" %}
      <script>
        alert('Logged In Successfully');
        window.location=('{% url 'admin_home' %}');        
      </script>
      {% endifequal %}
      {% ifequal error "yes" %}
      <script>
        alert('Invalid Login Username Password, Please try Again');
      </script>
      {% endifequal %}

      <div class="container mt-5" style="background-color:whitesmoke">
        <div class="row">
          <div class="col-sm-6">
            <img src="{% static 'images/admin.jpg' %}" class="img-thumbnail my-1 mr-2" style="width:100%; height:345px;">

          </div>
          <div class="col-sm-6">
            <h2 class="text-center" style="font-weight:bold">Admin Login</h2><hr>
            <p class="">Enter Your UserName and Password for access Admin Panel</p>
            <form method="post">
              {% csrf_token %}
              <label>UserName :-</label>
                <input type="text" class="form-control" placeholder="Enter UserName" name="uname">
              <label>Password :-</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="pwd"><br>
                <input type="submit" class="btn btn-primary mt-2" value="Login">
            </form>

          </div>

        </div>

      </div>


    {% endblock %}
